.Form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-inline: 80px;
  padding: 80px;
  padding-inline: 10%;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
}
.Row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Box {
  width: 45%;
}

.BoxEnd{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Perfil{
  margin: 20px;
  height: 280px;
  width: 280px;
  border-radius: 140px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.Btn-Outline{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.OutLine{
  margin-inline-end: 0px;
  background-color: none;
  border: none;
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  color: #d90368;
  cursor: pointer;
}

.Icon{
  width: 18px;
  cursor: pointer;
}